{% extends 'base.html.twig' %}

{% block title %}Éditer la structure {% endblock %}

{% block body %}
    <h1>Éditer la structure</h1>

    {{ include('structures/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('app_structures_index') }}">Retourner à la liste</a>

    {{ include('structures/_delete_form.html.twig') }}
{% endblock %}
