    <div class="header">
        <div class="header-menu">

        
            <a href="/admin">
                <div class="title"> Green <span>FIT</span></div>
            </a>
        <div class="sidebar-btn">
          <i class="fa-solid fa-bars"></i>
        </div>
        <ul>
          <li><a href="/"><i class="fa fa-home"></i></a></li>
          <li><a href="/logout" class="logout"><i class="fa fa-power-off "></i></a></li>
        </ul>
      </div>
    </div>
    